body {
    background: #f5f5f5;
}

.table-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.Available {
    border-left: 6px solid green;
}

.Occupied {
    border-left: 6px solid red;
}

.Reserved {
    border-left: 6px solid orange;
}